a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dae4e4;
  padding: 0.2rem 1rem;
}

.navbar h1 {
  font-size: 1.9rem;
  width: 50vw;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li a {
  margin: 0 0 0 1rem;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 92vw;
  padding: 1rem;
  border: 1px solid #dae4e4;
  border-radius: 5px;
  background-color: #dae4e4;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  padding: 1rem;
  border: 1px solid #dae4e4;
  border-radius: 5px;
  background-color: #dae4e4;
}

.addBookForm input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #dae4e4;
  border-radius: 5px;
  width: 100%;
}

.addBookForm select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #c3c8c8;
  border-radius: 5px;
  width: 100%;
}

.addBookForm button {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  background-color: #dae8e8;
  color: #000;
  transition: all 0.1s ease-in-out;
}

.addBookForm button:hover {
  background-color: #5e6666;
  color: #dae8e8;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
  width: 92vw;
  padding: 0.5rem 1rem;
  border: 1px solid #c0c8c8;
  border-radius: 5px;
  background-color: #dae4e4;
}

.book h2 {
  font-size: 1.5rem;
  margin: -1rem 0;
}

.book p {
  margin: -0.1rem 0;
}

.actions {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0.5rem -2.5rem;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 92vw;
  padding: 1rem;
  border: 1px solid #dae4e4;
  border-radius: 5px;
  background-color: #dae4e4;
}

.categoryBtn {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #e28541;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
